body {
  display: flex;
  justify-content: center;
}
.board {
  margin: 50px auto;
}

.rank {
  display: flex;
  flex-direction: row;
}

.rank:last-child {
  border-bottom: 1px solid black;
}

.space {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-bottom: 0px;
  border-right: 0px;
}

.space:last-child {
  border-right: 1px solid black;
}

.space.white {
  background: white;
}

.space.black {
  background: gray;
}

.space.highlighted {
  background: green;
}

.instruction {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #444;
}
